@page "/student"
@using Models
@inject NavigationManager NavigationManager

<PageTitle>CRUD Update</PageTitle>
<div class="container">
<h3>Update Student</h3>
<div class="row">
    <div class="col-md-12">
        <EditForm Model="@student" OnValidSubmit="HandleSubmit">
            <DataAnnotationsValidator/>
            <ValidationSummary/>
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <InputText id="name" @bind-Value="student.Name" class="form-control"></InputText>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <InputText id="email" @bind-Value="student.Email" class="form-control"></InputText>
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Phone</label>
                <InputText id="phone" @bind-Value="student.Phone" class="form-control"></InputText>
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <InputText id="address" @bind-Value="student.Address" class="form-control"></InputText>
            </div>

            <div class="mb-3">
                <button class="btn btn-success">Update Data</button>
            </div>


        </EditForm>
    </div>
</div>
</div>

@code {

    private Students student = new(){
        Name= string.Empty,
        Email = string.Empty,
        Phone = string.Empty,
        Address =string.Empty
    };

    private void HandleSubmit(){
        StudentData.AddStudent(student);
        NavigationManager.NavigateTo("/");
    }

}
